a {
  &[href^="http://"],
  &[href^="https://"] {
    &:after {
      content: url('../assets/external-link.png');
      margin: 0 0 0 5px;
    }
  }

  &[href*="//mattstasch.net/"]{
    &:after {
      content: '';
      margin: 0;
    }
  }
}
